section#about.section.about
  .about__wrapper
    .about__desc
      h2.title.about__title #{about.title}
      each paragraph in about.paragraphs
        p.about__text #{paragraph.text}
    +picture(about.img, 'about__img')
