.about {
  margin-bottom: 114px;
}

.about__wrapper {
  @include container;
  max-width: 850px;
  box-sizing: content-box;
  justify-content: space-between;
  align-items: center;
}

.about__title {
  max-width: 370px;
}

.about__img {
  order: 1;
  @media #{$media-desktop} {
    margin-right: 10px;
    width: 30%;
    height: 30%;
  }
}

.about__desc {
  max-width: 430px;
  order: 2;
}
