.button {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 45px;

  border-radius: 100px;

  font-size: 17px;
  font-family: $font-family-serif;
  letter-spacing: $letter-spacing-wide;
  color: $color-black;
  text-decoration: none;
  border: 2px solid $color-primary-darker;

  transition: $transition;
  text-align: center;

  &--solid {
    background-color: $color-primary-darker;
    border: none;
  }
  &:hover, &:focus {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
