.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__name {
  margin-bottom: 30px;
  font-family: $font-family-serif;
  font-size: 20px;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing-wide;
  order: 2;
}

.card__photo {
  margin-bottom: 30px;
  order: 1;
}

.card__more-link {
  order: 2;
}

