.header {
  margin-bottom: 60px;
  min-height: 60px;
  background-color: $color-white;
  &--main {
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    color: $color-base-light;

    .header__navigation {
      & .nav__link {
        color: $color-base-light-dark;
        &:hover {
          color: $color-white;
        }
        &--active {
          color: $color-white;
        }
      }
    }
    & .header__title {
      color: $color-primary;
    }
    & .header__text-desc {
      color: $color-white;
    }
  }
}

.header__wrapper {
  @include container;
  flex-direction: column;
}

.header__navigation {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;
  top: 0;
  left: 0;
  padding-top: 30px;
  padding-right: $gap;
  padding-left: $gap;
  background-color: transparent;
  transition: $transition;
  &--fixed {
    background-color: #5B483A;
    & .nav__link {
      color: $color-base-light-dark;
      &:hover {
        color: $color-white;
      }
      &--active {
        color: $color-white;
      }
    }
    & .header__title {
      color: $color-primary;
    }
    & .header__text-desc {
      color: $color-white;
    }
  }
}

.header__navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $width-desktop;
  flex-grow: 1;
}

.header__title-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;

}

.header__content {
  display: flex;
  align-items: center;
  padding-top: 107px;
}

.header__title {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: $letter-spacing;
}

.header__text-desc {
  font-size: 13px;
  letter-spacing: .1em;
  color: $color-black;
}

.header__trigger {
  display: none;
}

.header__lead {
  margin-bottom: 32px;
  letter-spacing: $letter-spacing;
}

.header__text {
  margin-bottom: 41px;
  color: $color-base-light-dark;
}
