extends ../common/layout

block vars
  -
    const data = {
      href: "index.html",
      main: true,
      title: "",
      description: "",
      keywords: "",
      url: "",
      image: "og-logo"
    }

block content
  .overlay
