extends ../common/layout

block vars
  -
    const data = {
      href: "index.html",
      main: true,
      title: "Cozy House - shelter for pets in Boston",
      description: "Website of «Cozy House» pets shelter in Boston.",
      keywords: "Cozy House, pets shelter, in Boston",
      url: "",
      image: "og-logo"
    }

block content
  .overlay
  include ../blocks/about
  include ../blocks/pets
  include ../blocks/help
  include ../blocks/donate
