extends ../common/layout

block vars
  -
    const data = {
      href: "pets.html",
      main: false,
      title: "Cozy House - Our Pets",
      description: "Pets of «Cozy House» shelter in Boston.",
      keywords: "Cozy House, pets shelter, in Boston",
      url: "",
      image: "og-logo"
    }

block content
  .overlay
