body {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color-base;
  background-color: $color-bg;
  letter-spacing: $letter-spacing;
  line-height: $line-height;

  min-width: $width-desktop;
  @media #{$media-desktop} {
    min-width: $width-tablet;
    font-size: $font-size-tablet;
  }
  @media #{$media-tablet} {
    min-width: $width-mobile;

  }
  // @media #{$media-tablet} {
  //   min-width: $width-tablet;
  // }
  // @media #{$media-mobile} {
  //   min-width: #{$media-mobile};
  // }
}

a {
  background-color: transparent;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.popup-open {
  height: 100vh;
  overflow: hidden;
}
