/* Шрифты */
$font-family: "Arial", sans-serif;
$font-family-serif: "Georgia", serif;
$font-weight: 400;
$font-size: 15px;
$font-size-title: 35px;
$line-height: 1.6;
$line-height-title: 1.3;

$letter-spacing: 0;
$letter-spacing-wide: .06em;

/* Цвета */
$color-base: #4C4C4C;
$color-base-light-dark: #CDCDCD;
$color-base-light: #FAFAFA;
$color-title: #545454;
$color-white: #FFF;
$color-black: #292929;
$color-bg: $color-white;
$color-bg-secondary: #F6F6F6;
$color-primary: #FDDCC4;
$color-primary-darker: #F1CDB3;

/* Размеры */
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1280px;

/* Медиа */
$media-mobile: screen and (min-width: $width-mobile);
$media-tablet: screen and (min-width: $width-tablet);
$media-desktop: screen and (min-width: $width-desktop);

/* Отступы */
$gap: 40px;
$gapSm: 20px;
